.header-color{
  background: #283048;  /* fallback for old browsers */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
}

.landing-grid{
  background: #283048;  /* fallback for old browsers */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #859398, #283048);
}

.avatar-img {
  border-radius: 50%;
  height: 250px;
  width: 220px;
  padding: 5px;
}

.bannerText {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.bannerText h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.bannerText hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.bannerText p {
  color: white;
  font-size: 20px;
  padding: 1em;
}